
h1{
text-align: center;
  background-color: aliceblue;
  border-radius: 10px;
}

html{
  text-align: center
}

img{
  border-radius: 15px
}
h2{
  text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
  }
